<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"href="https://cdn.jsdelivr.net/npm/@picocss/pico@2/css/pico.fluid.classless.min.css">
    <title>Weather</title>
</head>
<body>
    <h1>Check the Weather</h1>
    <form action="/weather" method="POST">
        <div>
            <label for="zip"></label>
            <small>Please enter a ZIP Code</small>
            <input type="text" id="zip" name="zip" required >
        </div>
        <button type="submit">Search</button>
    </form>
</body>
</html>